<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pet">
            <h2><span jhiTranslate="vetsApp.pet.detail.title">Pet</span> {{ pet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vetsApp.pet.name">Name</span></dt>
                <dd>
                    <span>{{ pet.name }}</span>
                </dd>
                <dt><span jhiTranslate="vetsApp.pet.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'vetsApp.PetType.' + pet.type }}">{{ pet.type }}</span>
                </dd>
                <dt><span jhiTranslate="vetsApp.pet.birth">Birth</span></dt>
                <dd>
                    <span>{{ pet.birth }}</span>
                </dd>
                <dt><span jhiTranslate="vetsApp.pet.client">Client</span></dt>
                <dd>
                    <div *ngIf="pet.client">
                        <a [routerLink]="['/client', pet.client?.id, 'view']">{{ pet.client?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pet', pet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
